DB_USER=john
DB_NAME=voccy
DB_URL=postgres://john:password@localhost:5432/voccy?sslmode=disable
TEST_DB_URL=postgres://john:password@localhost:5432/voccy?sslmode=disable
PORT=6767
JWT_SECRET=your-secret-key-change-this
JWT_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h
